section {
    padding-top: 20px;
    padding-bottom: 20px;
}

.card-header {
    background-color: transparent;
}

.card-title {
    margin-bottom: 0;
    font-size: 16px;
}

.card-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}