section {
    padding-top: 20px;
    padding-bottom: 20px;
}

.card-title {
    margin-bottom: 0;
    font-size: 16px;
}

.card-header, .card-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: transparent;
    border-bottom: transparent;
}

.imagePreview > img {
    transition: all .2s ease;
}

.imagePreview:hover > img {
    filter: brightness(80%);
}

.imagePreview:hover > div {
    display: block !important;
}